_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_posts/2024-04-15-welcome-to-jekyll.markdown
about.markdown
index.markdown
Gemfile
Gemfile.lock
404.html
_config.yml
docs/Gemfile
docs/Gemfile
docs/Gemfile.lock
